@font-face {
  font-family: "DotGothic16";
  src: url(font/DotGothic16-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DotGothic16", sans-serif;
  background-color: #ddd;
}

#container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & img {
    width: 30%;
    max-width: 144px;
  }
  
  .status {
    font-size: 2rem;
  }

  .userChoiceContainer {
    width: 90%;
    max-width: 60ch;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    
    & img:hover {
      border: 6px solid gray;
    }
  }
}
